<BsNavbar
  @type="light"
  @backgroundColor="light"
  as |navbar|
>
  <LinkTo @route="index" class="navbar-brand">Brand</LinkTo>
  <navbar.toggle/>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Home</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="blog.index">Navbars</nav.link-to>
      </nav.item>
      <nav.dropdown as |dd|>
        <dd.toggle>Dropdown <span class="caret"></span></dd.toggle>
        <dd.menu as |ddm|>
          <ddm.item>
            <ddm.link-to @route="index">Home</ddm.link-to>
          </ddm.item>
          <ddm.item>
            <ddm.link-to @route="blog.index">Navbars</ddm.link-to>
          </ddm.item>
        </dd.menu>
      </nav.dropdown>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

{{page-title "EmberRassloffInfo"}}

{{!-- The following component displays Ember's default welcome message. --}}
<h1>Ember Start Page</h1>
{{!-- Feel free to remove this! --}}

{{outlet}}