{{page-title "Index"}}


<div class="content">
    <h1>Ember Start Page</h1>
    {{!-- Feel free to remove this! --}}

    <br>
    <a href="https://rassloff.info">to rassloff.info page</a>
    <br />

    yarn add ember-bootstrap<br />
    yarn upgrade<br />
    ember generate route index<br />
    ember generate route blog/index<br />

</div>


{{outlet}}